
.lightbox{
    margin-top: 7em;
    margin-bottom: 5em;
    height:300px;
   
   
   
}
.carousel-inner{
    border-radius: 15px;
    height:300px;
    
 
    box-sizing: border-box;
}

.d-block {
    
    height:300px;
}

img{
    width:100%;
    height:300px;
    object-fit: cover;    
    
}

