
.lightbox{
   margin-top: 2em;
   margin-bottom:2em;
   border-radius: 25px;
   display: flex;
   justify-content: flex-start;
   height:415px;
  
   
}
.chevron-right, .chevron-left{
    position:absolute;
    display:flex;
    font-size:25px;
    z-index: 2;    
}
.chevron-left{
    align-self: center;
    left:10%;  
    color:white;
}

.chevron-right{      
    align-self: center;
    right:10%;
    color:white;
}

.panorama {
    display:flex;
    overflow: hidden;    
    border-radius:25px;
}

.counter{
    font-size:1em;
    color:white;
    position:absolute;       
    width:88.7%;
    height:50%;
    display: flex;
    align-items: flex-end;
    top:40%;    
    justify-content: center;
    z-index: 40;
}
.image{
    display: flex;
    justify-content:flex-start;
       
}
.img-carousel {
    height:415px;
    object-fit: cover;
   
    width:100%;
}




