.box-description{
    
    width:48%;
    border-radius:10px;
}

.description {
    background-color: #FF6060;
    border:none;
    border-radius:10px;   
    align-items: center; 
    color:white;
    font-size:1em;
    width:100%;
    display: flex;
    justify-content: space-between;
    position:relative;
    z-index:2;
}
.titre-description{
    margin-left:1.5em;
}


.chevron {
    margin-right:1.5em;
}
.box-detail-description{
    display: none;
    justify-content: flex-start;
    list-style-type: none; 
    position:relative;
    z-index:1;
    margin-top: -0.5em;
    background-color: #F6F6F6;
    padding:1.5em;
    border-radius: 15px;
    height:420px;
}

.detail-description {   
    width:60%;
    line-height:1.6;
    padding:1.5em;   
    
}