.box-equipement{
    
    width:48%;
    border-radius:10px;
}

.equipement {
    background-color: #FF6060;
    border:none;
    border-radius:10px;
    padding:0.5em;    
    align-items: center; 
    color:white;
    font-size:1em;
    width:100%;
    display: flex;
    justify-content: space-between;
    position:relative;
    z-index:2;
}
.equipement:hover{
    background-color: #FF6060;
    border:none;
}
.equipement:active{
    background-color: #FF6060;
    border:none;
}
.titre-equipement{
    margin-left:1.5em;
}

.chevron {
    margin-right:1.5em;
}
.box-detail-equipement{
   display:none;
    justify-content: flex-start;
    list-style-type: none; 
    position:relative;
    z-index:1;
    margin-top: -0.5em;
    background-color: #F6F6F6;
    padding:1.5em;
    border-radius: 15px;
    height:420px;
}
.parent-liste {
    padding-left:1em;
    line-height: 2;
    display: flex;
    flex-direction: column;  
       
}

