.main-hebergement{
    font-family: "Montserrat";
    color:#FF6060;   
}

.name-location-host{    
    display:flex;
    justify-content: space-between;   
}

.name-location-hebergement {
    align-items: center;
}
.name-hebergement {
    font-weight: 500;
    font-size: 3em;
    margin-bottom:0em;
}
h2 {
    font-size:1.5em;  
    font-weight: 500;
}
.hostname{
    width:15px;
    line-height: 1.5;
    justify-content:flex-end;
}
.hostname-photo{
    display:flex;          
    gap:5em;
   align-self: flex-end;
}

.photo-host {
    border-radius: 100%;
    height:84px;
    width:84px;
}

.tags {
    display:flex;
    justify-content: flex-start;
    color:white;
    gap:1.5em;
    
}

.host-stars {
    display: flex;
    flex-direction: column;
    gap:1.5em;
}
.box-stars {
    display:flex;
    gap:0.5em;
    font-size:1.5em;

}

.star-grey {
    color:lightgray;
    
}
.star-red {
    color:#FF6060;
}

.tag {
    background-color: #FF6060;
    border-radius:10px;
   font-size:1.2em;
   padding:0.5em; 
   padding-left:1.5em;
    padding-right: 1.5em;
    
    gap:1em;
}
.tags-note {
    display: flex;
    justify-content: space-between;
}

.description-equipements {
    display: flex;
    justify-content: space-between;
    margin-top:1.5em;
    font-size:1.5em;
}