@font-face {
  font-family: "Montserrat";
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');
}
body {
  margin: 0;
  margin-right:auto;
  margin-left:auto;
  padding-top:4em;
  padding-right:6em;
  padding-left:6em;
  font-family: "Montserrat";
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat"
}
