.link-box{
    list-style-type: none;
    text-decoration: none;
    
}
.card {  
    height:32em;
    margin:3em;
    color:white;
    border:none;
    border-radius: 15px;   
    overflow: hidden;    
    background: rgba(255,96,96,1);
    background: linear-gradient(180deg, rgba(255,96,96,1),black 250%);
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.style-logement-img {     
    height:300px;
    object-fit: cover;
    opacity:0.5;
    transition: opacity, width 1s;   
}
.style-logement-img:hover{
    width:150%;       
    opacity:1;
}
.style-description {
    
    display: flex;
    justify-content: flex-start;    
    gap:1em;
    flex-wrap: wrap;
    height:5em;
    
}


